
    i img{
        width: 50px;
    }
/* part 1 */
/* .navbar-nav {
    display: flex;
    justify-content: flex-end;
     
} */
.navbar-nav button{
    width:125px;
   
} 
/* part 2 */
.part_2_all{
    background: #c9d6da;
}
.side-area{
    margin-left: 75px;
    width: 75%;
    padding: 0px;
    
}
.side-area P{
    padding-left:30px ;
    border-left: 1px solid black;
    background: rgb(170, 165, 165);
    
}
.side-area button{
    width: 150px;
    /* background: rgb(248, 243, 243); */
    height: 55px;
}
/* part 3 */
.part_3{
    background: #FFFFFF;

    position: relative;
    top: 70px;
    bottom: 70px;
   
}

.tow_img img{
    width: 92%;
   
}
.side-icon{
    background: rgb(240, 236, 236);
    display: flex;
    position: relative;
    top: 20px;
    height: 122px;
    width: 100%;
    
}
.icon img{
    width: 50px;
    align-items: center;
    position: relative;
    top: 20px;
    left: 30px;

}
.text{
    align-items: center;
    position: relative;
    top: 15px;
    left: 50px;
    width: 80%;
   
}
.side-icon_1{
    background: rgb(223, 205, 205);
    display: flex;
    position: relative;
    top: 40px;
    height: 122px;
    
}
.side-icon_2{
    background: rgb(223, 205, 205);
    display: flex;
    position: relative;
    top: 60px;
    height: 122px;
    
}
/* part 4 */

.side_felx{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 30px;
    position: relative;
    top: 30px;
    
    
    
}
.icon_side img{
    width: 30px;
    height: 30px;
    align-self: start;
    position: relative;
    top: 30px;
    background: #F5DFDC; 
    border-radius: 20px;
    padding: 7px;
    
}
.icon_side h6{
    align-self: start;
    position: relative;
    left: 32px;
   
}
.side-img img{
    width: 100%;
}
/* part 5 */
.part-five-card{
    position: relative;
    top: 30px;
}
/* p 5 end */

/* part 6 */

.back_img{
    background-image: url(/all/img/22.jpg);
    width: 100%;
    background-position: top center;
    background-repeat: no-repeat;
}
.part_6-text{
    position: relative;
    top: 100px;
    color: #FFFFFF;
}

.part-6-bcak{
    position: relative;
    top: 180px;
    background: #F2F6F7;
    width: 100%;
    padding: 30px;
    
}
.part_6{
    position: relative;
    right: 30px;
  
    padding: 30px;
}
.part_6 img {
   
    width: 100%;
    
}
.part_6_text {
    background: #aea4b6;
    position: relative;
    top: 30px;
    height: 87%;
    padding: 30px;
}


/* part 7 */
.part_7 img{
    width: 100%;
}

/* part 8 */



/* part 9 */


/* part 10 */

/* part 11 */


/* part 12 */






    

